@mixin btn(
  $border: null,
  $bor_rad: null,
  $bg_color: null,
  $color: null,
  $padding: null
) {
  padding: $padding;
  border: $border;
  border-radius: $bor_rad;
  background-color: $bg_color;
  color: $color;
}

@mixin img($width: null, $height: null, $obj_fit: null) {
  width: $width;
  height: $height;
  $obj_fit: $obj_fit;
}
